/*Allgemein*/

header {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background: rgba(253, 108, 0, 0.7);
    text-align: center;
    color: white;
    font-size: 24px;
    width: 100%;
    padding: 20px 0px 0px 0px;
}

body {
    margin: 0px;
    font-size: 16px;
    color: #060402;
    background: lightgray;
    background-image: url("../img/background.png");
    background-repeat: repeat;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: auto;
    position: relative;
    min-height: 100%;
    padding-bottom: 5.7em;
}

img {
    max-width: 10%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

footer {
    background-color: #FBBE91;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.7em;
}

/*Navbar*/

.nav ul {
    font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #FBBE91;
    border-bottom: 1px solid #060402;
    border-top: 1px solid #060402;
    border-left: 1px solid #060402;
}

.nav li {
    border-right: 1px solid #060402;
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
}

.nav a {
    display: block;
    color: #060402;
    text-align: center;
    padding: 14px 71px;
    text-decoration: none;

}

.nav a:hover {
    background-color: #545454;
    color: white;
}

.nav a.active {
    background-color: #060402;
    color: white;
    cursor: default;
}

/* Formular index.html*/

#addplayer {
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 80%;
    appearance: none;
    box-shadow: none;
    padding: 8px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

input[type=checkbox] {
    margin-bottom: 14px;
}

input[type=number] {
    display: block;
    margin: 0;
    width: 10%;
    appearance: none;
    box-shadow: none;
    padding: 6px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;

}

select {
    display: block;
    margin: 0;
    width: 10%;
    appearance: none;
    box-shadow: none;
    padding: 6px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #060402;
    color: white;
}

/* players.html */

#playertable {
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

#überschrifttable {
    background: #FBBE91;

}

/* home.html */

#home {
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 20px;
}

/* chat.html */

#chat {
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.name::after {
    content: ": ";
}

.join {
    color: gray;
    font-style: italic;

}

.leave {
    color: gray;
    font-style: italic;
}

.welcome {
    font-weight: bold;
}


#text{
    border: 1px solid black;
    float: left;
    padding-bottom: 10px;
    margin-top: 20px;
}

#senden {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: inherit;
    margin-top: 20px;

}

#senden:hover{
    background-color: #060402;
    color: white;
}

#messages {
    padding-left: 5px;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=1050u0kllll1qRAbnurvjcfWN38 */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 {
    color: #FD6C00
}

/* Main Primary color */
.color-primary-1 {
    color: #FBBE91
}

.color-primary-2 {
    color: #545454
}

.color-primary-3 {
    color: #610D02
}

.color-primary-4 {
    color: #060402
}

/* As RGBa codes */

.rgba-primary-0 {
    color: rgba(170, 70, 57, 1)
}

/* Main Primary color */
.rgba-primary-1 {
    color: rgba(255, 245, 244, 1)
}

.rgba-primary-2 {
    color: rgba(243, 166, 156, 1)
}

.rgba-primary-3 {
    color: rgba(97, 13, 2, 1)
}

.rgba-primary-4 {
    color: rgba(25, 3, 0, 1)
}

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */